html{
    --red: #e60e1c;
    --white: #e9e9e9;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

#contato, #mapa{
    position: absolute;
    width: 10px;
    height: 10px;
}

#contato{
    margin: -5em 0;
}

#mapa{
    margin: -9em 0;
}

    ::-webkit-scrollbar {
    width:13px;
    }

    ::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.0);
    }
    ::-webkit-scrollbar-thumb {
    width: 10px;
    border: 2px solid var(--white);
    background: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb:hover {
    background: rgba(0, 0, 0, 0.7);
    }

body{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 15px;
    background-color: var(--white);
}


a{
    cursor: default;
}

header{
    position: fixed;
    width: 100%;
    z-index: 2;
    background: var(--red);
    padding: 10px 0;
}

header img{
    width: 80px;
    filter: brightness(3000%);
    margin: 0 30px;
    transition: 0.2s
}

header img:hover{
    transform: scale(1.1);
}

header, nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
}

header nav{
    width: 100%;
}

nav button{
    font-weight: 400;
    padding: 15px;
    margin: 0 10px;
    background: transparent;
    border: 2px;
    border-color: transparent;
    border-style: hidden hidden solid hidden;
    font-size: 14px;
    text-transform: uppercase;
}

nav button:hover{
    transition: 0.6s;
    cursor: pointer;
    border-color: #fff;
    border-style: hidden hidden solid hidden;
}


body, button, a{
    color: #e9e9e9;
}

h1{
    margin: 6px 0;
}


h4, footer p{
    font-size: 15px;
    font-weight: 800;
}

#container_total{
    padding: 35px 55px;
}



main{
    margin: 90px 0 30px 0;
}

#titulo_container{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    z-index: 1;
    color: var(--red);
    width: 91.6%;
    height: 57.4%;
}

#titulo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30px;
}

#titulo h1{
    font-family: 'Roboto Serif', sans-serif;
    font-size: 53px;
}

#titulo p, #titulo h1{
    text-transform: uppercase;
    color: var(--white);
}

#titulo p{
    font-weight: 400;
}

main button{
    padding: 15px;
    margin: 20px;
}

main button, form> input:last-of-type{
    color: var(--white);
    font-weight: 400;
    font-size: 14px;
    text-transform: uppercase;
    background: var(--red);
    transition: 0.4s;
    cursor: pointer;
    border: hidden;
    border-radius: 2px;
}

main button:hover{
    color: var(--red);
    background: var(--white);
}

main button:active{
    transform: scale(0.96);
    color: var(--white);
    background: #96050c;
}



.img-wrapper {
    display: flex;
    overflow: hidden;
}

#imagem_corrente{
    filter: brightness(20%) blur(3px);
    width: 100%;
    height: 360px;
    object-fit: cover;
    transition: 0.3s;
}


section:first-of-type ul li:hover{
    transform: scale(1.05);
    background: #96050c;
    animation: bounce 0.6s;
}


section:first-of-type ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 17px;
}

section:first-of-type ul li{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    transition: 0.3s;
    background: var(--red);
    border-radius: 12px;
}

.icon{
    font-size: 55px;
}

section li h3{
    font-size: 20px;
}
section li p {
    font-weight: 500;
    font-style: italic;
}

section:nth-of-type(2){
    align-items: center;
    display: flex;
    flex-direction: column;
    color: #000
}

h2, h3, section:nth-of-type(3), section:nth-of-type(3) a{
    color: #000;
}

section:nth-of-type(2)>div{
    display: flex;
    width: 64%;
    flex-direction: column;
    background: var(--white);
    /* box-shadow: -9px 10px 10px rgba(0,0,0,0.7); */
    padding: 20px;
    margin: 50px;
}

section>div>div{
    width: 52%;
    margin-bottom: 50px;
}

section>div div:last-of-type{
    align-self: end;
}


section:nth-of-type(2)>div>:nth-child(1) img{
    z-index: -2;
    margin: -15em;
    width: 390px;
    align-self: end;
    position: absolute;
    filter: grayscale(1);
}

section:nth-of-type(2)>div>:nth-child(2) img{
    margin: -23em 22em;
    position: absolute;
    width: 300px;
    z-index: -2;
    filter: grayscale(1);
}

section:nth-of-type(2)>div div:last-child h3, section:nth-of-type(2)>div div:last-child p{
    text-align: end;
}

section:nth-of-type(2) span{
    position: absolute;
    z-index: -1;
    margin: 20px;
    width: 300px;
    height: 300px;
    background: rgba(0,0,0,0.8);
    filter: blur(10px);
}

section:nth-of-type(2)>div>:nth-child(1) span{
    margin: -13em -1.3em;
}

section:nth-of-type(2)>div>:nth-child(2) span{
    margin: -18em 8em;
}

iframe{
    border: hidden;
    width: 100%;
    height: 360px;
    margin: 50px 0px;
}

section:nth-of-type(3){
    font-size: 17px;
    text-align: center;
    font-weight: 500;
    margin: 50px 0;
}

section:nth-of-type(3) h2{
    font-size: 30px;
    font-weight: 900;
    margin: 0
}

section:nth-of-type(3) a{
    text-decoration: underline;
    cursor: pointer;
}
section:nth-of-type(3) a:hover{
    color: var(--red)
}

section:nth-of-type(3) ul li{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

section:nth-of-type(4){
    font-size: 20px;
    color: #000
}

section:nth-of-type(4) span{
    color: var(--red);
}

form{
    display: flex;
    flex-direction: column;
    padding: 10px 0;
}

form input, textarea{
    font-family: 'Zen Kaku Gothic Antique', sans-serif;
    font-size: 17px;
    background:rgba(255, 255, 255, 0.3);
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 2px;
    padding: 0 10px;
    margin-right: 10px;
    margin-bottom: 20px;
    width: 250px;
    height: 40px;
}

textarea{
    padding: 10px;
}

form>:nth-child(2){
    width: 60%;
    height: 100px;
    resize: none;
}

footer{
    background-color: #1c1c1c;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 55px;
}

footer li{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

footer>:nth-child(3){
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

section:nth-of-type(3) ul li:after, footer ul li:after{
    margin: 0 20px;
    background-size: 30px 30px;
    display: inline-block;
    width: 30px; 
    height: 30px;
    content:"";
}

section:nth-of-type(3) ul li:before, footer ul li:before{
    margin: 0 20px;
    background-size: 25px 25px;
    display: inline-block;
    width: 25px; 
    height: 25px;
    content:"";
}

footer ul li:before, footer ul li:after{
filter: invert(0.4);
}

.faceicon:after{background-image: url('img/icons/facebooklogo.png');}
.instaicon:after{background-image: url('img/icons/instagramlogo.svg');}
.tticon:after{background-image: url('img/icons/twitterlogo.svg');}
.wppicon:after{background-image: url('img/icons/whatsapplogo.png');}
.mapicon:before{background-image: url('img/icons/maplogo.svg');}
.phoneicon:before{background-image: url('img/icons/phonelogo.svg');}
section .phoneicon::after{background-image: url('img/icons/phonelogo.svg');width:20px;height:20px;background-size:20px 20px;}
section .phoneicon::before{background-image: url('')}
.emailicon:before{background-image: url('img/icons/envelopelogo.svg');}


footer{
    color: rgba(255,255,255, 0.4);
}
footer a{
    text-decoration: underline;
    cursor: pointer;
    color: rgba(255,255,255, 0.4)
}

footer a:hover{
    color: rgba(255, 255, 255, 0.7)
}

footer>:first-child img{
    width: 25px;
}

footer ul li img{
    margin: 0 20px;
    width: 30px;
}


footer img{
    filter: grayscale(1) brightness(64%);
    width: 20%;
    grid-column: span 5;
}

@keyframes bounce {
    40%  {transform: scale(1.1)}
    100% {transform: scale(1.05)}
}